@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.container {
    width: 100%;
}

.header_main {
    background-color: #012147;
    color: white;
    width: 100%;
}

.header_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header_main .header_col-left {
    width: 70%;
}

.header_logo-img {
    width: 70px;
}

.header_name h1 {
    font-size: 18px;
    font-weight: 600;
    line-height: 50px;
}

.header_brand .brand_link {
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: row;
}

.link-white {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.header_route-white {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header_route-white h4 {
    font-weight: 300;
    line-height: 50px;
}

.consent_main {
    margin: 10px 50px;
}

.consent_main .consent_content {
    padding: 10px 40px;
    border: 1px solid rgb(226, 222, 222);
    border-radius: 10px;
    line-height: 25px;
    padding-bottom: 40px;
}

.consent_main .consent_top {
    text-align: center;
    padding: 0px 40px;
}

.consent_top .consent_top-italic {
    font-style: italic;
}

.consent_top .consent_top-bold {
    font-style: bold;
}

.consent_bottom {
    padding: 10px 40px;
    background-color: #f5f5f5;
    border-radius: 10px;
}

.consent_bottom .consent_item {
    color: #17293c;
}

.consent_captcha .g-recaptcha {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}

.consent_captcha .button_g-recaptcha {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.button_g-recaptcha .button {
    margin-right: 10px;
}

.footer_main {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #012147;
    color: white;
    font-size: 12px;
    margin: 40px 20px 0px;
}

.footer_row img {
    width: 40px;
}

.change_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 50px;
    padding: 10px 40px;
    border: 1px solid rgb(226, 222, 222);
    border-radius: 10px;
    line-height: 25px;
    padding-bottom: 40px;
    
}

.change_main .change_row {
    margin-bottom: 20px;
}

.change_main .change_consent {
    text-align: center;
    color: rgb(18, 44, 72);
}

hr {
    width: 200px;
    background-color: rgba(237, 232, 232, 0.726);
}

.button_change {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button_change Button {
    margin-bottom: 10px;
}

.button_change .link_change {
    color: white;
    text-decoration: none;
}

.button_change .link-back {
    color: #012147;
    text-decoration: none;
}

.fill_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 50px;
    padding: 10px 40px;
    border: 1px solid rgb(226, 222, 222);
    border-radius: 10px;
    line-height: 25px;
    padding-bottom: 40px;
}

.fill_main .fill_checkbox .checkbox {
    border: 2px solid #012147;
    border-radius: 5px;
    margin-bottom: 10px;
}

.link-black {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.second_form-main {
    display: flex;
        flex-direction: column;
        margin: 10px 50px;
        padding: 10px 40px;
        border: 1px solid rgb(226, 222, 222);
        border-radius: 10px;
        line-height: 25px;
        padding-bottom: 40px;
}

.second_form-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.second_form-top .back_form h4 {
    font-weight: 300;
    align-items: center;
}

.second_form-bottom .form_bottom-title {
    text-align: center;
}

.form_bottom-language {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form_bottom-checkbox {
    margin-bottom: 20px;
}

.third_form-main {
    display: flex;
    flex-direction: column;
    margin: 10px 50px;
    padding: 10px 40px;
    border: 1px solid rgb(226, 222, 222);
    border-radius: 10px;
    line-height: 25px;
    padding-bottom: 40px;
}

.third_form-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.third_form-top .back_button h4 {
    font-weight: 300;
    align-items: center;
}

.third_form-bottom .form_bottom-title {
    text-align: center;
}

.third_form-bottom .form_bottom-button {
    margin-top: 20px;
    text-align: center;
}

.info_main {
    display: flex;
    flex-direction: column;
    margin: 10px 50px;
    padding: 10px 40px;
    border: 1px solid rgb(226, 222, 222);
    border-radius: 10px;
    line-height: 25px;
    padding-bottom: 40px;
    text-align: center;
}

.info_bottom .input_first {
    margin: 20px;
}

.info_bottom .info_checkbox-bottom {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info_bottom .info_note span {
    font-style: italic;
    font-weight: bold;
}

.info_bottom .info_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.info_bottom .info_button .button {
    margin-right: 10px;
}

.info_bottom .info_button .link_info {
    color: white;
    text-decoration: none;
}

.link_text-blue {
    color: #012147 !important;
}
       
.submit_main {
    display: flex;
    flex-direction: column;
    margin: 10px 50px;
    padding: 10px 40px;
    border: 1px solid rgb(226, 222, 222);
    border-radius: 10px;
    line-height: 25px;
    padding-bottom: 40px;
    text-align: center;
}

.submit_main .link_submit {
    color: white;
    text-decoration: none;
}